/*Global Styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
This is to ensure padding and borders are included in an element's width and height to simplify layouts

Also added *::before and *::after to apply this rule for psuedoelements if they arise
*/

body {
  /*consistency with margin & padding*/
  font-family: "Verdana", "Arial", sans-serif;
  background-color: #1b1a1a;
  color: white;
  font-size: 16px;
  line-height: 1.5px; /*adust line-height with children*/
  width: 100vw;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem 0rem 2.5rem 0rem;
}

h2,
h3 {
  text-align: center;
  margin: 2rem 0rem;
}

p {
  text-align: center;
  margin: 1.5rem 1.5rem 0.5rem 1.5rem;
  line-height: 1.5;
  /*Global spacing for paragraphs*/
}

img {
  max-width: 100%; /*scale images to fit containers*/
  height: auto; /*maintain aspect ratio*/
  display: block;
  margin: 2rem auto;
}

ul {
  list-style: none; /*all unorganised lists, layed out similar to <p>*/
  padding-left: 1.25rem; /*padding-left so ingredients ul is inline with ol list-style*/
}

ol {
  list-style-position: inside;
  margin: 1.2rem 0;
}

li {
  margin: 1.2rem 0;
}

* a {
  text-decoration: underline;
  color: rgb(26, 194, 194); /*link decoration*/
}

* a:hover {
  color: rgb(110, 62, 155); /*link decoration*/
}

/*odin-recipe index*/

.index-recipes .index-img {
  margin-bottom: 4rem;
}

/*recipe pages*/

content.description,
content.conclusion {
  display: block; /*content containers*/
  margin: 0 auto; /*center div*/
  width: 50%; /*half vw*/
}

.description h2 {
  margin: 0;
}

.description p {
  word-wrap: inherit;
}

.ingredientsh2,
.methodh2 {
  text-align: left; /* text align left so list descends evenly*/
  padding-left: 1.25rem; /*padding so header is inline with ingredient list*/
}

.ingredientsection {
  width: max-content;
  margin: 0 475px;
  padding-bottom: 0.075rem;
}
/*display: inline; /*Green curry ingredients listed side by side */
.inline-section-container {
  text-align: justify; /*justify distributes space for child elements to be evenly aligned*/
  margin: 0 auto; /*centered parent container*/
  width: 60%;
}

.inline-section-container::after {
  content: "";
  display: inline-block; /*treat child elements as inline containers with same features as block elements*/
  width: 100%;
}

.inline-section {
  display: inline-block;
  width: max-content; /*wrap width of content*/
  text-align: left; /*aligns text to the left*/
  vertical-align: top;
  margin-left: 80px;
}

ol > li {
  margin: 0em 0em 0.5rem 0em; /*list indent*/
}

.ingredientsmethod {
  width: 50%;
  margin: 0 auto;
}

.nested-ul {
  width: 100%;
  margin: 0.5rem;
  padding: 0 1rem;
}

.nested-ul > li {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.2;
}
